body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}
